/* global */
* {
    justify-content: center;
    text-align: center;
}

h1{font-size: 30px;
    text-align: center;
}

header{
    padding-top: 10rem;
    font-size: 40px;
    justify-content: center;
    text-align: center;
}
/* paragraph tag */
p{
    font-size: 30px;
}

/* wrappers */

.Wrapper {
    max-width: 900px;
    margin: 0 auto;
padding: 0 20px;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
text-align: center;
}

.Quiz-Wrapper{
    margin: 0 auto;
    width: 600px;
    padding: 1px 12px 12px 12px
}

/* Buttons */

.buttons{
    margin: 2rem 0 4rem 0;
}

.btn {
    text-align: center;
    background-color: darkorchid;
    width: 60%;
    font-size: 1rem;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    margin: 8px 0;
    padding: 1rem;

}
/* Hover options for buttons */
.btn:hover { cursor: pointer;
    background-color: violet;
    color: white;

}

/* play again button text */
.play-again{
    text-align: center;
    margin: 0 auto;
}

.play-again a {
    font-size: 1.5rem ;
    font-weight: 500;
    color: white;
    background-color: darkorchid;
    padding: 1rem;
    border-radius: 5px;
}

/* Play again button hover options */
.play-again a:hover{
    background-color: violet;
}

.quiz-header{
    display: flex;
    justify-content: space-between;
}

/* Timer Section */

.quiz-header #countdown{
    font-size: 1.5rem;
    font-weight: 600;
    background-color: purple;
    padding: 6px;
    color: white;
    border-radius: 4px;}